[package]
name = "jl-sys"
version = "0.17.0"
authors = ["Thomas van Doornmalen <thomas.vandoornmalen@gmail.com>"]
description = """
jl-sys contains the generated bindings for the Julia C API used by jlrs.
"""
documentation = "https://docs.rs/jl-sys"
homepage = "https://github.com/Taaitaaiger/jlrs"
repository = "https://github.com/Taaitaaiger/jlrs"
readme = "README.md"
keywords = ["Julia", "math", "mathematics", "bindings", "ffi"]
categories = ["external-ffi-bindings"]
license = "MIT"
edition = "2018"
links = "julia"

[features]
docs = []
uv = []
debug = []
lts = []
i686 = []
windows-lts = ["lts"]
use-bindgen = ["bindgen"]
all-features-override = []

[dependencies]

[build-dependencies]
# bindgen = { git = "https://github.com/emilio/rust-bindgen", branch = "atomic", optional = true, default-features = false, features = ["runtime"] }
bindgen = { version = "0.60", optional = true, default-features = false, features = ["runtime"] }
cc = "1"
cfg-if = "1"

[package.metadata.docs.rs]
features = ["docs"]
